html, body {
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* navigation */
.navbar {
    padding: 10px;
    border-bottom: 2px solid #fff; 
    transition: all 500ms ease;
    margin: 0;
    background-color: #38761f;
    border-bottom: 10px solid #1d420e;
  }
  
  .nav-de-pad {
    padding: 0!important;
    margin: 0;
  }
  
  .scrolled {
    margin: 0;
    background-color: #38761f;
    border-bottom: 10px solid #1d420e;
  }
  
  .carousel-scrolled {
    margin: 0;
    background-color: #1c4587;
    border-bottom: 10px solid #122c57;
  }
  
  .nav-item {
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 24px;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    transition: all 500ms ease;
  }
  
  .nav-item:hover {
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #38761f;
    color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  .blue-hover:hover {
    border: 2px solid #fff;
    background-color: #1c4587!important;
    color: #fff;
    transition: all 100ms ease-in-out;
  }
  
  .active {
    border: 2px solid #fff;
    border-radius: 20px;
  }


  #intro {
      width: 100%;
      height: 500px;
      background-image: url(../assets/usa-vs-ussr-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
  }

  .intro-wrapper {
      padding-top: 200px;
      padding-bottom: 60px;
      padding-left: 60px;
      padding-right: 200px;
      text-align: left;
  }

  .header {
      width: 40%;
  }

  .header h1 {
      font-size: 72px;
      color: #fff;
      font-family: 'Baloo Bhaijaan', cursive;
      text-shadow: 4px 4px #444;
  }

  .header p {
      font-size: 24px;
      color: #fff;
  }

  #intro-header-divider {
      box-shadow: 10px solid #0a1629;
  }

  #timeline {
      height: 100%;
      width: 100%;
      background-color: #38761f;
      margin-top: -30px;
  }

  .timeline-wrapper {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 100px;
  }   

  .timeline-header {
      width: 100%;
      margin-top: 100px;
      text-align: right;
      margin-bottom: 50px;
  }

  .timeline-header h1 {
      color: #fff;
      font-size: 60px;
      font-family: 'Baloo Bhaijaan', cursive;
      text-shadow: 4px 4px #444;
  }

  .timeline-header p {
      font-size: 20px;
      color: #fff;
      margin-left: 50%;
  }

  iframe {
      border: 15px solid #1c4587;
      border-radius: 10px;
      box-shadow: 0px 10px #122c57;
  }

  .img-fluid {
      border-bottom: 5px solid #770d0d;
  }


  .column-wrapper {
      padding: 30px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }

  .column-background {
      background-color: #1c4587;
      border-bottom: 5px solid #122c57;
  }

  .column-text, .column-text-2 {
      color: #fff;
      font-size: 22px;
  }

  .column-text-2 {
    text-align: right;
  }


  #footer {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 40;
    display: block;
    background-color: #1c4587;
    padding: 30px;
  }
  
  .footer-header h1 {
    color: #fff;
    font-family: 'Baloo Bhaijaan', cursive;
    text-shadow: 4px 4px #444;
    text-align: center;
    font-size: 60px;
  }
  
  .footer-header p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .footer-social {
    color: #38761f;
    text-shadow: 4px 4px #1d420e;
    font-size: 48px;
    text-align: center;
    transition: all 500ms ease;
    
  }
  
  .footer-social .fa:hover {
    text-shadow: 2px 2px #1d420e;
  }
  
  .copyright {
    background-color: #122c57;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  @media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }
    #intro {
      background-image: url(../assets/mobile-banner.jpg)!important;
      height: 400px;
    }
  
    .intro-wrapper {
      padding-top: 105px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .header {
      width: 100%;
    }
  
    .header h1 {
      text-align: center;
      font-size: 56px;
    }
  
    .header p {
      text-align: center;
      font-size: 20px;
    }
  
    #timeline {
      margin-top: -45px;
    }
  
    .timeline-wrapper {
      padding-top: 50px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  
    .timeline-header {
      margin-right: 0px;
      text-align: center;
      width: 100%;
    }
  
    .timeline-header p {
      margin: 0;
    }

    iframe {
      width: 100%;
      height: auto;
    }

    .column-text, .column-text-2 {
      text-align: center;
      font-size: 18px;
    }
  
  
  }
  
  @media (max-width: 768px) {
  
  }
  
  @media (max-width: 992px) {
  
  }
  
  @media (max-width: 1200px) {
  
  }